<div>
    <div class="row">
        <div id="title">
            <h1>{{user.tripTitle}}</h1>
        </div>
    </div>
    <div class="row">
        <div id="datetime">
            <h1><timer end-time="tripDate">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></h1>
            <h2>{{ tripDate | date:'EEEE, MMMM yyyy' }}</h2>
        </div>
    </div>
    <div class="row rowspace">

    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1  angular-google-map-container">
            <div class="google-map" options="mapOptions" center=" map.center" zoom="map.zoom" draggable="true">
                <layer type="TrafficLayer" show="map.showTraffic"></layer>
                <layer type="WeatherLayer" options="weatherOptions" namespace="weather" show="map.showWeather"></layer>
                <layer type="CloudLayer" namespace="weather" show="map.showCloud"></layer>
                <layer type="KmlLayer" options="kmlLayerOptions" show="map.showKml"></layer>
                <layer type="KmlLayer" options="kmlRadarLayerOptions" show="map.showRadarKml"></layer>
                <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
                    <marker-label content="m.title" anchor="22 0" class="marker-labels" />
                    <window show="m.showWindow" closeclick="m.closeClick()">
                        <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
                        <p class="muted">My marker will stay open when the window is popped up!</p>
                    </window>
                </marker>
            </div>
            <div>
                Traffic:
                <input type="checkbox" ng-model="map.showTraffic" />
                Cloud:
                <input type="checkbox" ng-model="map.showCloud" />
                Weather:
                <input type="checkbox" ng-model="map.showWeather" />
                Kml:
                <input type="checkbox" ng-model="map.showKml" />
                Radar:
                <input type="checkbox" ng-model="map.showRadarKml" />
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <img class="img-thumbnail" src="{{riverMapUrl}}" alt="river data" />
        </div>
    </div>
    <div class="row rowspace">

    </div>
    <div class="row">
       
    </div>
    <div class="row rowspace"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 current">
            <div class="row currentHeader">
                <div id="location">
                    <h1>{{currentConditions.display_location.city}}, {{currentConditions.display_location.state}} </h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="current-light">
                    <div class="col-centered"><img class="{{ currentConditions.icon }}" ng-src="{{ currentConditions.icon_url }}" /></div>
                    <h3>{{currentConditions.temp_f | number:0}}&deg;</h3>
                    <hr />
                    <h4>{{weather.forecast.forecastday[0].low.fahrenheit | number:0}}&deg;</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 {{currentConditions.wind_dir | lowercase}}"></div>
                        <div class="col-md-7 pull-left"><h4>{{currentConditions.wind_dir}}</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowspace">

    </div>
    <div class="row">
        <div id=" forecast">
            <ul class="row list-unstyled">
                <li ng-repeat="day in weather.forecast.forecastday | limitTo:user.daysToShow" class="col-md-3">
                    <div ng-class="{today: $index == 0}" class="current">
                        <h4 ng-if="$index == 0">Today</h4>
                        <h4 ng-if="$index != 0">{{ day.date.weekday }}</h4>
                        <hr />
                        <img class="{{ day.icon }}" ng-src="{{ day.icon_url }}" />
                        <hr />
                        <h4>{{ day.high.fahrenheit }}&deg; / {{ day.low.fahrenheit }}&deg;</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>