<form class="form-horizontal" ng-submit="save()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <fieldset>
                <!-- Form Name -->
                <legend>Settings</legend>
                <!-- Trip title-->
                <div class="control-group">
                    <label class="control-label" for="textinputtripTitle">Trip Title:</label>
                    <div class="controls">
                        <input name="textinputtripTitle" ng-model="user.tripTitle" id="textinputtripTitle" type="text" placeholder="Trip Title">
                    </div>
                </div>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="textinput">Location: example: ar/Mena</label>
                    <div class="controls">
                        <input type="text" id="selectedlocation"
                               ng-model="user.location"
                               timezone="user.timezone"
                               auto-fill="fetchCities"
                               autocomplete="off"
                               placeholder="Location" />
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="textinputUSGS Station">USGS Station:</label>
                    <div class="controls">
                        <input type="text" ng-model="user.usgsStation" placeholder="USGS Station Number" id="usgsStation" />
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="textinputtripDate">Trip Date:</label>
                    <div class="controls">
                        <input name="textinputtripDate" ng-model="user.tripDate" id="textinputtripDate" type="text" placeholder="Trip Date">
                    </div>
                </div>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="daystoshow">Days to show:</label>
                    <div class="controls">
                        <select id="daystoshow" ng-model="user.daysToShow">
                            <option value="10">10</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="Autocomplete2">Map Locaiton(city)</label>
                    <div class="controls">
                        <input type="text" id="Autocomplete2" ng-model="autocomplete" class="form-control" ng-autocomplete options="options" details="details" />
                        <b>Details (formatted address)</b>: {{details.formatted_address}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lon">Longitude:</label>
                    <div class="controls">
                        <input type="text" value="{{user.locationInfo.lon}}" id="lon" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lat">Latitude:</label>
                    <div class="controls">
                        <input type="text" value="{{user.locationInfo.lat}}" id="lat" />
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="control-group">
                    <label class="control-label" for="button1id"></label>
                    <div class="controls">
                        <input class="btn btn-primary"
                               type="submit" value="Save" />
                        <button class="btn btn-danger">Cancel</button>
                        <button class="btn btn-warning" ng-click="resetCache()">Clear Cache</button>
                    </div>
                </div>


            </fieldset>
        </div>
    </div>
</form>

